.form-group {
    display: flex;
}

h1 {
    text-align: center;
}

.done {
    text-decoration: line-through;
    opacity: 50%;
}

#todos {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#todos li {
    padding: 20px 0 20px 0;
    border-bottom: 1px solid silver;
}

.deleteItem {
    float: right;
    color: #272020;
    cursor: pointer;
}

input[type='checkbox'] {
    margin-right: 15px;
}

.editText {
    display: none;
}

.saveItem {
    display: none;
}